.pagination__list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	max-width: 900px;
	flex-wrap: wrap;
	padding-inline: 10px;
	gap: 15px;
	margin: 3rem auto;
}

.pagination__list--item {
	cursor: pointer;
	height: 32px;
	width: 32px;
	line-height: 32px;
	border-radius: 5px;
	text-align: center;
	background-color: var(--grey);
	overflow: hidden;
	transition: filter 250ms ease;
}
.pagination__list--item:hover {
	filter: brightness(1.3);
}

.pagination__list--item.active,
.pagination__list--item.active p {
	background: var(--white);
	color: var(--black);
	border-color: var(--lg-blue);
}

.pagination__list--item p {
	color: var(--white);
	font-weight: bold;
	font-size: 1.4rem;
}
